<!-- move this to middleware later, techical debt -->

<div class="container-fluid text-center col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-md-4">
            <span class="rl_font_1_8"> {{attendeeTemplateMode}} Booking Form </span>
        </div>
        <div class="col-md-8" ng-show="eventConfigurations.length > 0">
            <div class="form-group">
                <label class="col-md-3 control-label no-print">Select Event - ({{eventConfigurations.length}})</label>
                <div class="col-md-7">
                    <select class="form-control ng-valid"
                            ng-model="formMeta.eventOffset"
                            ng-change='changeOfEvent()'
                            name="eventName" required
                            ng-options='eventConfigurations.indexOf(currOption) as currOption.name for currOption in eventConfigurations'>
                    </select>
                </div>
            </div>
            <div class="no-print">
                <input ng-if="mode=='Testing Mode' && eventSelected" type="submit" ng-click="putInTestData()"
                       value="Test Data" class="btn btn-success"/>
            </div>
        </div>
    </div>

    <!-- view cannot be used -->
    <div class="row" ng-show="eventConfigurations.length==0">
        <div class="col-md-12 no-event-data">
            <h1>Error:</h1>
            <h2>
                1) This account may have no active public events (seminars/workshops)<br>

                2) An invalid customer account was selected<br>

                3) Query parameters are incorrect.
            </h2>
        </div>
    </div>
    <div class="row " ng-hide="eventSelected == null">

        <div class="row no-print" ng-if="eventSelected.overview.meta.visible==true">
            <div class="col-md-12  {{eventSelected.overview.meta.css}}" style="{{eventSelected.overview.meta.style}}">
                <!-- seminar/workshop heading/overview information -->
                <div ng-repeat="overview in eventSelected.overview.data track by $id($index)"
                     ng-show="overview.visible==true"
                     class="col-md-12 {{overview.css}}"
                     style="{{overview.style}}">

                    <span ng-bind-html="trustAsHtml(overview.text)"/>
                </div>
            </div>
        </div>

        <br> <!-- spacer between sections -->

        <div class="row no-print" class="iterateofferings" ng-if="showSeminarColumns()">
            <!-- iterate the columns of offerings -->
            <div ng-repeat="n in [1,2,3,4] | limitTo:  eventSelected.offerings.meta.columns"
                 ng-init="columnIndex = $index"
                 class="col-md-{{12 / eventSelected.offerings.meta.columns}} {{eventSelected.offerings.meta.columnCss}}"
                 style="{{eventSelected.offerings.meta.columnStyle}}">

                <div ng-repeat="o in  columnRange($index)" class=" {{eventSelected.offerings.meta.itemCss}}"
                     style="{{eventSelected.offerings.meta.itemStyle}}"
                     ng-show="o.visible==true">
                    <!-- item within column -->

                    <div ng-repeat="L in o.lines">
                        <div class="{{L.css}}" style="{{L.style}}">{{L.text}}</div>
                    </div>
                </div>

            </div>
        </div>
        <br> <!-- spacer between sections -->

        <!-- name is required for angular valiation, novalidate disables browser's validation -->
        <form name="eventFORM" class="css-form" novalidate>
            <fieldset ng-disabled="formMeta.isSavingForm">
                <div class="row" ng-if="eventSelected.organisation.meta.enabled==true">
                    <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                        <organisationdetailstemplate1
                                global-reset="globalResetFN()"
                                use-template="organisationTemplateName"
                                organisation="formData.organisation"
                                organisation-u-i-text="formMeta.organisationType"
                                organisation-u-i-sector-no-text="formMeta.sectorUINoText"
                                organisation-valid="formMeta.organisationValid"
                        >
                        </organisationdetailstemplate1>
                    </div>
                </div>
                <div class="row" ng-if="eventSelected.contact.meta.enabled==true">
                    <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                        <contactdetailstemplate1
                                global-reset="globalResetFN()"
                                is-saving-form="formMeta.isSavingForm"
                                form-meta="formMeta"
                                contact="formData.contact"
                                contact-valid="formMeta.contactValid"
                        ></contactdetailstemplate1>
                    </div>
                </div>

                <div class="row" ng-if="attendeeTemplateMode=='Seminar'">
                    <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                        <!-- via a directive   passing the entire structure as attendees_meta and offerings required
                           formData.attendees is the two-way link to the data generated by this directive
                           -->
                        <seminarattendees
                                global-reset="globalResetFN()"
                                is-saving-form="formMeta.isSavingForm"
                                attendees="formData.attendees"
                                attendee-positions="formMeta.attendeePositions"
                                attendee-choices="attendeeChoices"
                                meta="eventSelected"
                                attendee-child-scope="attendChildScope"
                                attendees-valid="formMeta.attendeesValid"
                                attendees-max="formMeta.maxAttendees"
                        ></seminarattendees>
                    </div>
                </div>
                <div class="row" ng-if="attendeeTemplateMode=='Workshop'">
                    <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                        <workshopattendees
                                global-reset="globalResetFN()"
                                is-saving-form="formMeta.isSavingForm"
                                attendees="formData.attendees"
                                attendee-positions="formMeta.attendeePositions"
                                workshops-meta="formMeta.workshopsMeta"
                                attendees-valid="formMeta.attendeesValid"
                                attendees-max="formMeta.maxAttendees"
                        ></workshopattendees>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- hide if no event selected -->
</div>