<!-- move this to middleware later, techical debt -->


<div id="builder">
    <div class="text-center">
        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="text-center">
            <ul class="nav nav-pills">
                <li><a ng-click="goToHeader()" ui-sref-active="active"  ui-sref="form.meta">Meta</a></li>
                <li><a ng-click="goToHeader()" ui-sref-active="active"  ui-sref="form.availability">Availability</a></li>
                <li><a ng-click="goToHeader()" ui-sref-active="active"  ui-sref="form.notes">Notes</a></li>
                <li><a ng-click="goToHeader()" ui-sref-active="active"  ui-sref="form.header">Header</a></li>
                <li><a ng-click="goToOfferings()" ui-sref-active="active"  ui-sref="form.offerings">Offerings</a></li>
                <li><a ng-click="goToOrganisation()" ui-sref-active="active"  ui-sref="form.organisation">Organisation</a></li>
                <li><a ng-click="goToContact()" ui-sref-active="active"  ui-sref="form.contact">Contact</a></li>
                <li><a ng-click="goToAttendees()" ui-sref-active="active"  ui-sref="form.attendees">Attendees</a></li>
                <li><a ng-click="goToSubmission()" ui-sref-active="active"  ui-sref="form.submission">Submission</a></li>
            </ul>
        </div>
    </div>

    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <form id="signup-form " ng-submit="processForm()">
        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view></div>
    </form>
</div>

<div class="container-fluid text-center " id="preview" ng-include="'view1/preview/template.html'">

</div>
