<!-- move this to middleware later, techical debt -->


<div id="builder">
    <div class="page-header text-center">
        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="text-center">
            <ul class="nav nav-pills">
                <li><a ui-sref-active="active"  ui-sref="form.meta">Meta</a></li>
                <li><a ui-sref-active="active"  ui-sref="form.availability">Availability</a></li>
                <li><a ui-sref-active="active"  ui-sref="form.notes">Notes</a></li>
                <li><a ui-sref-active="active"  ui-sref="form.contact">Contact</a></li>
                <li><a ui-sref-active="active"  ui-sref="form.organisation">Organisation</a></li>
            </ul>
        </div>
    </div>

    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <form id="signup-form" ng-submit="processForm()">
        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view></div>
    </form>
</div>

<div class="container-fluid text-center " id="preview">
    <div class="row  margin-zero">
        <div class="col-md-4">
            <span class="rl_font_1_8"> {{attendeeTemplateMode}} Booking Form </span>
        </div>
        <div class="col-md-8" ng-show="eventConfigurations.length > 0">
            <div class="form-group">
                <label class="col-md-3 control-label no-print">Select Event - ({{eventConfigurations.length}})</label>
                <div class="col-md-7">
                    <select class="form-control ng-valid"
                            ng-model="formMeta.eventOffset"
                            ng-change='changeOfEvent()'
                            name="eventName" required
                            ng-options='eventConfigurations.indexOf(currOption) as currOption.name for currOption in eventConfigurations'>
                    </select>
                </div>
            </div>
            <div class="no-print">
                <input ng-if="mode=='Testing Mode' && eventSelected" type="submit" ng-click="putInTestData()"
                       value="Test Data" class="btn btn-success"/>
            </div>
        </div>
    </div>

    <!-- view cannot be used -->
    <div class="row  margin-zero" ng-show="eventConfigurations.length==0">
        <div class="col-md-12 no-event-data">
            <h1>Error:</h1>
            <h2>
                1) This account may have no active public events (seminars/workshops)<br>

                2) An invalid customer account was selected<br>

                3) Query parameters are incorrect.
            </h2>
        </div>
    </div>
    <div class="row  margin-zero" ng-hide="eventSelected == null">

        <div class="row  margin-zero no-print" ng-if="eventSelected.overview.meta.visible==true">
            <div class="col-md-12  {{eventSelected.overview.meta.css}}" style="{{eventSelected.overview.meta.style}}">
                <!-- seminar/workshop heading/overview information -->
                <div ng-repeat="overview in eventSelected.overview.data track by $id($index)"
                     ng-show="overview.visible==true"
                     class="col-md-12 {{overview.css}}"
                     style="{{overview.style}}">

                    <span ng-bind-html="trustAsHtml(overview.text)"/>
                </div>
            </div>
        </div>

        <br> <!-- spacer between sections -->

        <div class="row  margin-zero no-print" class="iterateofferings" ng-if="showSeminarColumns()">
            <!-- iterate the columns of offerings -->
            <div ng-repeat="n in [1,2,3,4] | limitTo:  eventSelected.offerings.meta.columns"
                 ng-init="columnIndex = $index"
                 class="col-md-{{12 / eventSelected.offerings.meta.columns}} {{eventSelected.offerings.meta.columnCss}}"
                 style="{{eventSelected.offerings.meta.columnStyle}}">

                <div ng-repeat="o in  columnRange($index)" class=" {{eventSelected.offerings.meta.itemCss}}"
                     style="{{eventSelected.offerings.meta.itemStyle}}"
                     ng-show="o.visible==true">
                    <!-- item within column -->

                    <div ng-repeat="L in o.lines">
                        <div class="{{L.css}}" style="{{L.style}}">{{L.text}}</div>
                    </div>
                </div>

            </div>
        </div>
        <br> <!-- spacer between sections -->

        <!-- name is required for angular valiation, novalidate disables browser's validation -->


        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.enabled==true && eventSelected.organisation.meta.template==='organisation_minimum'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_minimum.html'">
            </div>
        </div>
        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.enabled==true && eventSelected.organisation.meta.template==='organisation_maximum'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_maximum.html'">
            </div>
        </div>

        <div class="row  margin-zero" ng-if="eventSelected.contact.meta.enabled==true">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/contactDetails_template1.html'">
            </div>
        </div>

        <div class="row  margin-zero" ng-if="attendeeTemplateMode=='Seminar'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                <!-- via a directive   passing the entire structure as attendees_meta and offerings required
                   formData.attendees is the two-way link to the data generated by this directive
                   -->
                <seminarattendees
                        global-reset="globalResetFN()"
                        is-saving-form="formMeta.isSavingForm"
                        attendees="formData.attendees"
                        attendee-positions="formMeta.attendeePositions"
                        attendee-choices="attendeeChoices"
                        meta="eventSelected"
                        attendee-child-scope="attendChildScope"
                        attendees-valid="formMeta.attendeesValid"
                        attendees-max="formMeta.maxAttendees"
                ></seminarattendees>
            </div>
        </div>
        <div class="row  margin-zero" ng-if="attendeeTemplateMode=='Workshop'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}">
                <workshopattendees
                        global-reset="globalResetFN()"
                        is-saving-form="formMeta.isSavingForm"
                        attendees="formData.attendees"
                        attendee-positions="formMeta.attendeePositions"
                        workshops-meta="formMeta.workshopsMeta"
                        attendees-valid="formMeta.attendeesValid"
                        attendees-max="formMeta.maxAttendees"
                ></workshopattendees>
            </div>
        </div>
        <hr class="no-print">
        <div class="row no-print" >
            <!-- row with reset, recaptcha, confirmation and submit -->
            <div class="col-xs-2	   no-print  ">
                <br><br><br><br>
                <input type="button" ng-click="resetForm(ec.eventForm)" value="Reset Form"
                       class="btn btn-danger"/>
            </div>

            <div class="col-xs-10 no-print {{eventSelected.template_meta.submission_container_css}} {{eventSelected.template_meta.panel_hover_css}}">
                <div class="row ">
                    <div class="col-xs-2  ">
                        <span style="color:green;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submission</span>
                        <span style="color:green;font-weight:bold">1) </span> <br><br><br><br>
                        <input type="button" ng-click="clearReCAPTCHA()" value="Clear reCAPTCHA"
                               class="btn btn-warning"/>
                    </div>
                    <div class="col-xs-6    ">
                        <!-- Recaptcha Widget provided by google        -->
                        <div id="captchadivParent">
                            <div id="captchadiv" vc-recaptcha key="reCapthchaPublicKey"
                                 on-create="setreCAPTCHAid(widgetId)"
                            >
                            </div>
                        </div>
                        <!--
                           was handled by the controller but did not work when controller used for different view
                           plus controller code changed


                           <div id="captchadiv"  >
                                           </div>
                           -->
                        Complete the reCAPTCHA above to prove you are human before submitting the form.<br> This
                        is an anti-spam technique. The verification is valid for 2 minutes.
                    </div>

                    <div class="col-xs-4 no-print">
                        <div class="form-group  ">
                            <div>
                                <!--  attendees.length  < attendeeMax -->
                                &nbsp;&nbsp;
                                <label class="dataEntryPanel"><span
                                        style="color:green;font-weight:bold">2) </span>Verify if ready to
                                    submit:
                                    <input type="checkbox" required ng-model="formData.confirmation"
                                           ng-change="toggleConfirmation()">
                                </label>
                                <br> <br>
                                &nbsp;&nbsp; <span style="color:green;font-weight:bold">3) </span>
                                <input type="submit" ng-click="confirmSubmit()" value="Submit Form"
                                       class="btn btn-success" ng-disabled="!eventFormValid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- recaptcha -->
        <p>


    </div>
    <!-- hide if no event selected -->
</div>