<!--META-->
<div class="row  margin-zero" id="meta">
    <div class="col-sm-3">
        <span class="rl_font_1_8"> {{eventSelected.model_type}} Booking Form </span>
    </div>
    <div class="col-sm-5">
        <label class="col-sm-5 center-vertically">Select Event - ({{eventConfigurations.length-1}})</label>
        <div class="col-sm-7">
            <select class="form-control"
                    id="event_select"
                    ng-model="current_cId"
                    ng-change='changeOfEvent(current_cId)' name="eventName">
                <option ng-repeat="event in eventConfigurations" value="{{event.cId}}" ng-hide="event.cId==='Blank'">{{event.name}}</option>
            </select>
            <pre>{{current_cId}}</pre>
            <option ng-repeat="event in eventConfigurations" value="{{event.cId}}" ng-hide="event.cId==='Blank'">{{event.name}}</option>
        </div>
    </div>
    <div class="btn-group col-sm-4 pull-right" role="group">
        <button type="button" class="btn btn-primary" ng-click="reload_event_configurations()">Reload</button>
        <button type="button" class="btn btn-success" ng-click="save_to_parse()"            >Save new</button>
        <button type="button" class="btn btn-warning" ng-click="update_on_parse()">Update</button>
        <button type="button" class="btn btn-danger"  ng-click="delete_on_parse()">Delete</button>
        <button type="button" class="btn btn-info"    ng-click="changeOfEvent('Blank')">Blank</button>
    </div>
</div>
<br>
<!--CONTENT-->
<div class="row  margin-zero" ng-hide="eventSelected == null">
    <!--HEADER-->
    <div id="header">
        <div class="row  margin-zero no-print" ng-if="eventSelected.overview.meta.visible==true">
            <div class="col-sm-12 {{eventSelected.overview.meta.css}}" style="{{eventSelected.overview.meta.style}}">
                <div ng-repeat="overview in eventSelected.overview.data track by $id($index)"
                     ng-show="overview.visible==true"
                     class="col-sm-12 {{overview.css}}"
                     style="{{overview.style}}">

                    <span ng-bind-html="trustAsHtml(overview.text)"/>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!--OFFERINGS-->
    <div id="offerings">
        <div class="row  margin-zero no-print" class="iterateofferings" ng-if="showSeminarColumns()">
            <!-- iterate the columns of offerings -->
            <div ng-repeat="n in [1,2,3,4] | limitTo: eventSelected.offerings.meta.columns"
                 class="col-sm-{{12 / eventSelected.offerings.meta.columns}} {{eventSelected.offerings.meta.columnCss}}"
                 style="{{eventSelected.offerings.meta.columnStyle}}">

                <div ng-repeat="o in  columnRange($index)"
                     class=" {{eventSelected.offerings.meta.itemCss}}"
                     style="{{eventSelected.offerings.meta.itemStyle}}"
                     ng-show="o.visible==true">

                    <div ng-repeat="L in o.lines">
                        <div class="{{L.css}}" style="{{L.style}}">{{L.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!--ORGANISATION-->
    <div id="organisation" ng-if="eventSelected.organisation.meta.enabled==true">
        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.template==='organisation_minimum'">
            <div class="col-sm-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_minimum.html'">
            </div>
        </div>
        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.template==='organisation_maximum'">
            <div class="col-sm-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_maximum.html'">
            </div>
        </div>
    </div>
    <br>

    <!--CONTACT-->
    <div class="row  margin-zero" ng-if="eventSelected.contact.meta.enabled==true">
        <div class="col-sm-12 {{eventSelected.template_meta.panel_hover_css}}"
             id="contact"
             ng-include="'view1/preview/form_preview/contactDetails_template1.html'">
        </div>
    </div>
    <br>

    <!--ATTENDEES-->
    <div id="attendees">
        <div class="row  margin-zero" ng-if="eventSelected.template_meta.type == 'template1_seminar'">
            <div class="col-sm-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/seminarattendees_template1.html'">
            </div>
        </div>

        <div class="row  margin-zero" ng-if="eventSelected.template_meta.type == 'template1_workshops'">
            <div class="col-sm-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/workshopattendees_template2.html'">
            </div>
        </div>
    </div>


    <!--SUBMISSION-->
    <hr class="no-print">
    <div class="row no-print" >
        <div class="col-xs-2 no-print  ">
            <br><br><br><br>
            <input type="button" value="Reset Form"
                   class="btn btn-danger"/>
        </div>

        <div id="submission"
             class="col-xs-10 no-print {{eventSelected.template_meta.submission_container_css}} {{eventSelected.template_meta.panel_hover_css}}">
            <div class="row ">
                <div class="col-xs-2  ">
                    <span style="color:green;font-weight:bold">Submission</span>
                    <span style="color:green;font-weight:bold">1) </span> <br><br><br><br>
                    <input type="button" value="Clear reCAPTCHA"
                           class="btn btn-warning"/>
                </div>
                <div class="col-xs-6">
                    Complete the reCAPTCHA above to prove you are human before submitting the form.<br> This
                    is an anti-spam technique. The verification is valid for 2 minutes.
                </div>

                <div class="col-xs-4 no-print">
                    <div class="form-group">
                        <div>
                            <label class="dataEntryPanel">
                                <span style="color:green;font-weight:bold">2) </span>
                                Verify if ready to submit:
                                <input type="checkbox" required ng-model="formData.confirmation">
                            </label>
                            <br> <br>
                            <span style="color:green;font-weight:bold">3) </span>
                            <input type="submit" value="Submit Form" class="btn btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- hide if no event selected -->
<div style="height: 750px"></div>