<div class="row  margin-zero">
    <div class="col-md-4">
        <span class="rl_font_1_8"> {{eventSelected.model_type}} Booking Form </span>
    </div>
    <div class="col-sm-8">
        <label class="col-sm-3 center-vertically">Select Event - ({{eventConfigurations.length}})</label>
        <div class="col-sm-6">
            <select class="form-control"
                    ng-model="formMeta.eventOffset"
                    ng-change='changeOfEvent()'
                    name="eventName" required
                    ng-options='eventConfigurations.indexOf(currOption) as currOption.name for currOption in eventConfigurations'>
            </select>
        </div>
        <div class="col-sm-3">
            <input ng-if="mode=='Testing Mode' && eventSelected" type="submit" ng-click="putInTestData()"
                   value="Test Data" class="btn btn-success"/>
        </div>
    </div>
</div>
<br>
<div class="row  margin-zero" ng-hide="eventSelected == null">
    <div id="header">
        <div class="row  margin-zero no-print" ng-if="eventSelected.overview.meta.visible==true">
            <div class="col-md-12  {{eventSelected.overview.meta.css}}" style="{{eventSelected.overview.meta.style}}">
                <div ng-repeat="overview in eventSelected.overview.data track by $id($index)"
                     ng-show="overview.visible==true"
                     class="col-md-12 {{overview.css}}"
                     style="{{overview.style}}">

                    <span ng-bind-html="trustAsHtml(overview.text)"/>
                </div>
            </div>
        </div>
    </div>

    <br> <!-- spacer between sections -->
    <div id="offerings">
        <div class="row  margin-zero no-print" class="iterateofferings" ng-if="showSeminarColumns()">
            <!-- iterate the columns of offerings -->
            <div ng-repeat="n in [1,2,3,4] | limitTo:  eventSelected.offerings.meta.columns"
                 ng-init="columnIndex = $index"
                 class="col-md-{{12 / eventSelected.offerings.meta.columns}} {{eventSelected.offerings.meta.columnCss}}"
                 style="{{eventSelected.offerings.meta.columnStyle}}">

                <div ng-repeat="o in  columnRange($index)" class=" {{eventSelected.offerings.meta.itemCss}}"
                     style="{{eventSelected.offerings.meta.itemStyle}}"
                     ng-show="o.visible==true">
                    <!-- item within column -->

                    <div ng-repeat="L in o.lines">
                        <div class="{{L.css}}" style="{{L.style}}">{{L.text}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br> <!-- spacer between sections -->

    <!-- name is required for angular valiation, novalidate disables browser's validation -->

    <div id="organisation">
        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.enabled==true && eventSelected.organisation.meta.template==='organisation_minimum'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_minimum.html'">
            </div>
        </div>
        <div class="row margin-zero"
             ng-if="eventSelected.organisation.meta.enabled==true && eventSelected.organisation.meta.template==='organisation_maximum'">
            <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
                 ng-include="'view1/preview/form_preview/organisation_maximum.html'">
            </div>
        </div>
    </div>

    <div class="row  margin-zero" ng-if="eventSelected.contact.meta.enabled==true">
        <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
             id="contact"
             ng-include="'view1/preview/form_preview/contactDetails_template1.html'">
        </div>
    </div>

    <div class="row  margin-zero" ng-if="eventSelected.template_meta.type == 'template1_seminar'">
        <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
             id="attendees"
             ng-include="'view1/preview/form_preview/seminarattendees_template1.html'">
        </div>
    </div>

    <div class="row  margin-zero" ng-if="eventSelected.template_meta.type == 'template1_workshops'">
        <div class="col-md-12 {{eventSelected.template_meta.panel_hover_css}}"
             ng-include="'view1/preview/form_preview/workshopattendees_template2.html.html'">
        </div>
    </div>


    <hr class="no-print">
    <div class="row no-print" >
        <!-- row with reset, recaptcha, confirmation and submit -->
        <div class="col-xs-2	   no-print  ">
            <br><br><br><br>
            <input type="button" ng-click="resetForm(ec.eventForm)" value="Reset Form"
                   class="btn btn-danger"/>
        </div>

        <div class="col-xs-10 no-print {{eventSelected.template_meta.submission_container_css}} {{eventSelected.template_meta.panel_hover_css}}">
            <div class="row ">
                <div class="col-xs-2  ">
                    <span style="color:green;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submission</span>
                    <span style="color:green;font-weight:bold">1) </span> <br><br><br><br>
                    <input type="button" ng-click="clearReCAPTCHA()" value="Clear reCAPTCHA"
                           class="btn btn-warning"/>
                </div>
                <div class="col-xs-6    ">
                    <!-- Recaptcha Widget provided by google        -->
                    <div id="captchadivParent">
                        <div id="captchadiv" vc-recaptcha key="reCapthchaPublicKey"
                             on-create="setreCAPTCHAid(widgetId)"
                        >
                        </div>
                    </div>
                    <!--
                       was handled by the controller but did not work when controller used for different view
                       plus controller code changed


                       <div id="captchadiv"  >
                                       </div>
                       -->
                    Complete the reCAPTCHA above to prove you are human before submitting the form.<br> This
                    is an anti-spam technique. The verification is valid for 2 minutes.
                </div>

                <div class="col-xs-4 no-print">
                    <div class="form-group  ">
                        <div>
                            <!--  attendees.length  < attendeeMax -->
                            &nbsp;&nbsp;
                            <label class="dataEntryPanel"><span
                                    style="color:green;font-weight:bold">2) </span>Verify if ready to
                                submit:
                                <input type="checkbox" required ng-model="formData.confirmation"
                                       ng-change="toggleConfirmation()">
                            </label>
                            <br> <br>
                            &nbsp;&nbsp; <span style="color:green;font-weight:bold">3) </span>
                            <input type="submit" ng-click="confirmSubmit()" value="Submit Form"
                                   class="btn btn-success" ng-disabled="!eventFormValid"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- recaptcha -->
    <p>


</div>
<!-- hide if no event selected -->
<div style="height: 500px"></div>