

<h4><span class="label label-info">Attendees Meta</span></h4>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="maxNo">Max Attendees</span>
    <input type="number" class="form-control " name="maxNo"
           ng-model="eventSelected.attendees_meta.maxNo"/>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="max_per_entry">Max Pee Entry</span>
    <input type="number" class="form-control " name="max_per_entry"
           ng-model="eventSelected.attendees_meta.max_per_entry"/>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="request_lunch">Request Lunch</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.attendees_meta.request_lunch"></select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="request_position">Request Position</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.attendees_meta.request_position"></select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="attendee_edit_hover_css">Edit Hover Colour</span>
    <select class="form-control" name="panel_hover_css" ng-model="eventSelected.template_meta.attendee_edit_hover_css">
        <option value="rl_hover_light_blue">Light Blue</option>
        <option value="rl_hover_lime">Lime</option>
        <option value="rl_hover_straw">Straw</option>
        <option value="rl_hover_grey">Grey</option>
    </select>
</div>

<h4><span class="label label-success">positions</span></h4>
<div class="input-group" ng-repeat="position in eventSelected.attendees_meta.positions">
    <input type="text" class="form-control" value="{{position.name}}"
           ng-attr-id="{{ 'new_position_name-' + position.id }}">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" ng-click="deleteAttendeePos(position)">Delete</button>
          <button class="btn btn-success" type="button" ng-click="saveAttendeePos(position)">Update</button>
      </span>

</div>
<hr>
<h4><span class="label label-success">Add new Position</span></h4>
<div class="input-group">
    <input type="text" class="form-control" id="newPosition">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="addAttendeePos()">Add</button>
      </span>
</div>
