<h4><span class="label label-default">Header</span></h4>
<div class="input-group">
    <span class="input-group-addon" id="enabled">Enabled</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.overview.meta.visible"></select>
</div>

<!--style_1-->
<div ng-if="eventSelected.overview.meta.visible">
    <h4><span class="label label-default">Style</span></h4>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_brd_type">Border type</span>
        <select class="form-control" name="header_css_brd_type"
                ng-init="header_css[0]=eventSelected.overview.meta.css.split(' ')[0]"
                ng-model="header_css[0]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_brd_dashed">Dashed</option>
            <option value="rl_brd_double">Double</option>
            <option value="rl_brd_dotted">Dotted</option>
            <option value="rl_brd_groove">Groove</option>
            <option value="rl_brd_hidden">Hidden</option>
            <option value="rl_brd_inset">Inset</option>
            <option value="rl_brd_mix">Mix</option>
            <option value="rl_brd_none">None</option>
            <option value="rl_brd_outset">Outset</option>
            <option value="rl_brd_ridge">Ridge</option>
            <option value="rl_brd_solid">Solid</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_brd_colour">Border colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[1]=eventSelected.overview.meta.css.split(' ')[1]"
                ng-model="header_css[1]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_brd_clr_red">Red</option>
            <option value="rl_brd_clr_black">Black</option>
            <option value="rl_brd_clr_blue">Blue</option>
            <option value="rl_brd_clr_green">Green</option>
            <option value="rl_brd_clr_white">White</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_radius">Corner Radius</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[2]=eventSelected.overview.meta.css.split(' ')[2]"
                ng-model="header_css[2]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_rcorners15">15</option>
            <option value="rl_rcorners20">20</option>
            <option value="rl_rcorners25">25</option>
            <option value="rl_rcorners30">30</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_bkg_colour">Colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[3]=eventSelected.overview.meta.css.split(' ')[3]"
                ng-model="header_css[3]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_bkg_color_blue">Blue</option>
            <option value="rl_bkg_color_blue1">Blue 1</option>
            <option value="rl_bkg_color_yellow">Yellow</option>
            <option value="rl_bkg_color_red">Red</option>
            <option value="rl_bkg_color_clr_black">Black</option>
            <option value="rl_bkg_color_green">Green</option>
            <option value="rl_bkg_color_olive">Olive</option>
            <option value="rl_bkg_color_mauve">Mauve</option>
            <option value="rl_bkg_color_orange">Orange</option>
            <option value="rl_bkg_color_white">White</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_shadow">Border shadow</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[4]=eventSelected.overview.meta.css.split(' ')[4]"
                ng-model="header_css[4]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_box_shadow1">Yes</option>
            <option value="">No</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125">Font Size</span>
        <select class="form-control"
                ng-model="eventSelected.overview.meta.style"
        >
            <option value="font-size:0.5em">1</option>
            <option value="font-size:0.6em">2</option>
            <option value="font-size:0.7em">3</option>
            <option value="font-size:0.8em">4</option>
            <option value="font-size:0.9em">5</option>
            <option value="font-size:1.0em">6</option>
            <option value="font-size:1.1em">7</option>
            <option value="font-size:1.2em">8</option>
            <option value="font-size:1.3em">9</option>
            <option value="font-size:1.4em">10</option>
            <option value="font-size:1.5em">11</option>
            <option value="font-size:1.6em">12</option>
            <option value="font-size:1.7em">13</option>
            <option value="font-size:1.8em">14</option>
            <option value="font-size:1.9em">15</option>
            <option value="font-size:2.0em">16</option>
            <option value="font-size:2.1em">17</option>
            <option value="font-size:2.2em">18</option>
            <option value="font-size:2.3em">19</option>
            <option value="font-size:2.4em">20</option>
        </select>
    </div>

    <!--DATA-->
    <h4><span class="label label-default">Data</span></h4>
    <div ng-repeat="item in eventSelected.overview.data track by $id($index)">
        <div class="input-group">
            <span class="input-group-addon min-width-125 " id="enabled">Enabled</span>
            <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
                    ng-model="item.visible"></select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 " id="text">Text</span>
            <textarea class="form-control" rows="3" name="text" ng-model="item.text"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Font Size</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['size']=item.css.split(' ')[0]"
                    ng-model="header_data_css[$index]['size']"
                    ng-change="header_data_css_change($index,header_data_css[$index])">
                <option value="rl_font_1_0">1.0</option>
                <option value="rl_font_1_2">1.2</option>
                <option value="rl_font_1_5">1.5</option>
                <option value="rl_font_1_8">1.8</option>
                <option value="rl_font_2_0">2.0</option>
                <option value="rl_font_2_5">2.5</option>
            </select>

        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Text Colour</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['colour']=item.css.split(' ')[1]"
                    ng-model="header_data_css[$index]['colour']"
                    ng-change="header_data_css_change($index,header_data_css[$index])"
            >
                <option value="rl_text_color_black">Black</option>
                <option value="rl_text_color_white">White</option>
                <option value="rl_text_color_yellow">Yellow</option>
                <option value="rl_text_color_orange">Orange</option>
                <option value="rl_text_color_red">Red</option>
                <option value="rl_text_color_purple">Purple</option>
                <option value="rl_text_color_violet">Violet</option>
                <option value="rl_text_color_blue">Blue</option>
                <option value="rl_text_color_green">Green</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Text align</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['align']=item.css.split(' ')[2]"
                    ng-model="header_data_css[$index]['align']"
                    ng-change="header_data_css_change($index,header_data_css[$index])"
            >
                <option value="text-center">Center</option>
                <option value="text-left">Left</option>
                <option value="text-right">Right</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125" id="style">Custom Style</span>
            <input type="text" class="form-control " name="period" ng-model="item.style"/>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="deleteHeaderData($index)">Delete</button>
            </span>
        </div>
        <br>

    </div>

    <!--NEW DATA-->
    <div class="input-group">
        <span class="input-group-addon min-width-125 " id="enabled">Enabled</span>
        <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
                ng-model="new_data.visible"></select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 " id="text">Text</span>
        <textarea class="form-control" rows="3" name="text" ng-model="new_data.text"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Font Size</span>
        <select class="form-control"
                ng-model="new_data.css1">
            <option value="rl_font_1_0">1.0</option>
            <option value="rl_font_1_2">1.2</option>
            <option value="rl_font_1_5">1.5</option>
            <option value="rl_font_1_8">1.8</option>
            <option value="rl_font_2_0">2.0</option>
            <option value="rl_font_2_5">2.5</option>
        </select>

    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Text Colour</span>
        <select class="form-control"
                ng-model="new_data.css2">
            <option value="rl_text_color_black">Black</option>
            <option value="rl_text_color_white">White</option>
            <option value="rl_text_color_yellow">Yellow</option>
            <option value="rl_text_color_orange">Orange</option>
            <option value="rl_text_color_red">Red</option>
            <option value="rl_text_color_purple">Purple</option>
            <option value="rl_text_color_violet">Violet</option>
            <option value="rl_text_color_blue">Blue</option>
            <option value="rl_text_color_green">Green</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Text align</span>
        <select class="form-control"
                ng-model="new_data.css3">
            <option value="text-center">Center</option>
            <option value="text-left">Left</option>
            <option value="text-right">Right</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="style">Custom Style</span>
        <input type="text" class="form-control " name="period" ng-model="new_data.style"/>
    </div>
    <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="addHeaderData()">Add</button>
            </span>
    </div>
    <br>
</div>











