

<h4><span class="label label-default">attendees_meta</span></h4>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="maxNo">maxNo</span>
    <input type="number" class="form-control " name="maxNo"
           ng-model="eventSelected.attendees_meta.maxNo"/>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="max_per_entry">max_per_entry</span>
    <input type="number" class="form-control " name="max_per_entry"
           ng-model="eventSelected.attendees_meta.max_per_entry"/>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="request_lunch">request_lunch</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.attendees_meta.request_lunch"></select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-150" id="request_position">request_position</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.attendees_meta.request_position"></select>
</div>

<h4><span class="label label-default">positions</span></h4>
<div class="input-group" ng-repeat="position in eventSelected.attendees_meta.positions">
    <input type="text" class="form-control" value="{{position.name}}"
           ng-attr-id="{{ 'new_position_name-' + position.id }}">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" ng-click="deleteAttendeePos(position)">Delete</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="saveAttendeePos(position)">Save</button>
      </span>
</div>

<div class="input-group">
    <input type="text" class="form-control" id="newPosition">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="addAttendeePos()">Add</button>
      </span>
</div>
