<h4><span class="label label-default">Header</span></h4>
<div class="input-group">
    <span class="input-group-addon" id="enabled">Enabled</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.overview.meta.visible"></select>
</div>

<!--style_1-->
<div ng-if="eventSelected.overview.meta.visible">
    <h4><span class="label label-default">Style</span></h4>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_brd_type">Border type</span>
        <select class="form-control" name="header_css_brd_type"
                ng-init="header_css[0]=eventSelected.overview.meta.css.split(' ')[0]"
                ng-model="header_css[0]"
                ng-change="header_css_change(header_css)">
            <option ng-repeat="option in options.border_type_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_brd_colour">Border colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[1]=eventSelected.overview.meta.css.split(' ')[1]"
                ng-model="header_css[1]"
                ng-change="header_css_change(header_css)">
            <option ng-repeat="option in options.border_color_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_radius">Corner Radius</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[2]=eventSelected.overview.meta.css.split(' ')[2]"
                ng-model="header_css[2]"
                ng-change="header_css_change(header_css)">
            <option ng-repeat="option in options.border_corner_options" value="{{option.id}}">{{option.name}}</option>

        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_bkg_colour">Colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[3]=eventSelected.overview.meta.css.split(' ')[3]"
                ng-model="header_css[3]"
                ng-change="header_css_change(header_css)"
        >
            <option ng-repeat="option in options.background_color_options" value="{{option.id}}">{{option.name}}</option>

        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="header_css_shadow">Border shadow</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="header_css[4]=eventSelected.overview.meta.css.split(' ')[4]"
                ng-model="header_css[4]"
                ng-change="header_css_change(header_css)"
        >
            <option value="rl_box_shadow1">Yes</option>
            <option value="">No</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125">Font Size</span>
        <select class="form-control"
                ng-model="eventSelected.overview.meta.style">
            <option ng-repeat="option in options.font_size_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <!--DATA-->
    <h4><span class="label label-default">Data</span></h4>
    <div ng-repeat="item in eventSelected.overview.data track by $id($index)">
        <div class="input-group">
            <span class="input-group-addon min-width-125 " id="enabled">Enabled</span>
            <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
                    ng-model="item.visible"></select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 " id="text">Text</span>
            <textarea class="form-control" rows="3" name="text" ng-model="item.text"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Font Size</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['size']=item.css.split(' ')[0]"
                    ng-model="header_data_css[$index]['size']"
                    ng-change="header_data_css_change($index,header_data_css[$index])">
                <option ng-repeat="option in options.rl_font_size_options" value="{{option.id}}">{{option.name}}</option>
            </select>

        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Text Colour</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['colour']=item.css.split(' ')[1]"
                    ng-model="header_data_css[$index]['colour']"
                    ng-change="header_data_css_change($index,header_data_css[$index])">
                <option ng-repeat="option in options.text_color_options" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125 ">Text align</span>
            <select class="form-control"
                    ng-init="header_data_css[$index]['align']=item.css.split(' ')[2]"
                    ng-model="header_data_css[$index]['align']"
                    ng-change="header_data_css_change($index,header_data_css[$index])">
                <option ng-repeat="option in options.text_align_options" value="{{option.id}}">{{option.name}}</option>

            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon min-width-125" id="style">Custom Style</span>
            <input type="text" class="form-control " name="period" ng-model="item.style"/>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="deleteHeaderData($index)">Delete</button>
            </span>
        </div>
        <br>

    </div>

    <!--NEW DATA-->
    <div class="input-group">
        <span class="input-group-addon min-width-125 " id="enabled">Enabled</span>
        <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
                ng-model="new_data.visible"></select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 " id="text">Text</span>
        <textarea class="form-control" rows="3" name="text" ng-model="new_data.text"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Font Size</span>
        <select class="form-control"
                ng-model="new_data.css1">
            <option ng-repeat="option in options.rl_font_size_options" value="{{option.id}}">{{option.name}}</option>
        </select>

    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Text Colour</span>
        <select class="form-control"
                ng-model="new_data.css2">
            <option ng-repeat="option in options.text_color_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125 ">Text align</span>
        <select class="form-control"
                ng-model="new_data.css3">
            <option ng-repeat="option in options.text_align_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="style">Custom Style</span>
        <input type="text" class="form-control " name="period" ng-model="new_data.style"/>
    </div>
    <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="addHeaderData()">Add</button>
            </span>
    </div>
    <br>
</div>











