<h4><span class="label label-default">Header</span></h4>
<div class="input-group">
    <span class="input-group-addon" id="enabled">Enabled</span>
    <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
            ng-model="eventSelected.offerings.meta.visible"></select>
</div>

<!--style_1-->
<div ng-if="eventSelected.offerings.meta.visible">
    <h4><span class="label label-default">Columns Style</span></h4>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="columns">No. of Columns</span>
        <input type="number" class="form-control " name="columns"
               ng-model="eventSelected.offerings.meta.columns"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_column_css_brd_type">Border type</span>
        <select class="form-control" name="offerings_column_css_brd_type"
                ng-init="offerings_column_css[0]=eventSelected.offerings.meta.columnCss.split(' ')[0]"
                ng-model="offerings_column_css[0]"
                ng-change="offerings_column_css_change(offerings_column_css)">
            <option ng-repeat="option in options.border_type_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_column_css_brd_colour">Colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_column_css[1]=eventSelected.offerings.meta.columnCss.split(' ')[1]"
                ng-model="offerings_column_css[1]"
                ng-change="offerings_column_css_change(offerings_column_css)">
            <option ng-repeat="option in options.background_color_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_column_css_radius">Corner Radius</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_column_css[2]=eventSelected.offerings.meta.columnCss.split(' ')[2]"
                ng-model="offerings_column_css[2]"
                ng-change="offerings_column_css_change(offerings_column_css)">
            <option ng-repeat="option in options.border_corner_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="style">Column Style</span>
        <input type="text" class="form-control " name="period"
               ng-model="eventSelected.offerings.meta.columnStyle"/>
    </div>

    <!--ITEM CSS-->
    <h4><span class="label label-default">Item Style</span></h4>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Corner Radius</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_item_css[0]=eventSelected.offerings.meta.itemCss.split(' ')[0]"
                ng-model="offerings_item_css[0]"
                ng-change="offerings_item_css_change(offerings_item_css)">
            <option ng-repeat="option in options.border_corner_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Border Colour</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_item_css[1]=eventSelected.offerings.meta.itemCss.split(' ')[1]"
                ng-model="offerings_item_css[1]"
                ng-change="offerings_item_css_change(offerings_item_css)">
            <option ng-repeat="option in options.border_color_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Border Type</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_item_css[2]=eventSelected.offerings.meta.itemCss.split(' ')[2]"
                ng-model="offerings_item_css[2]"
                ng-change="offerings_item_css_change(offerings_item_css)">
            <option ng-repeat="option in options.border_type_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Shadow</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_item_css[3]=eventSelected.offerings.meta.itemCss.split(' ')[3]"
                ng-model="offerings_item_css[3]"
                ng-change="offerings_item_css_change(offerings_item_css)">
            <option ng-repeat="option in options.border_shadow_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Margin Top</span>
        <select class="form-control" name="panel_hover_css"
                ng-init="offerings_item_css[4]=eventSelected.offerings.meta.itemCss.split(' ')[4]"
                ng-model="offerings_item_css[4]"
                ng-change="offerings_item_css_change(offerings_item_css)">
            <option ng-repeat="option in options.margin_top_options" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon min-width-125" id="offerings_item_css_radius">Custom Style</span>
        <input type="text" class="form-control " name="period"
               ng-model="eventSelected.offerings.meta.itemStyle"/>
    </div>

    <!--DATA-->
    <div ng-repeat="item in eventSelected.offerings.data track by $id($index)"
         ng-init="offering_data_index = $index">
        <h4><span class="label label-success">Item no. {{$index+1}}</span></h4>
        <div class="input-group">
            <span class="input-group-addon" id="enabled">Enabled</span>
            <select class="form-control" ng-options="o.value as o.label for o in boolOptions"
                    ng-model="item.visible"></select>
        </div>
        <div ng-repeat="line in item.lines track by $id($index)">
            <h4><span class="label label-default">Line no. {{$index+1}}</span></h4>
            <div class="input-group">
                <span class="input-group-addon min-width-125">Text</span>
                <input type="text" class="form-control " name="period"
                       ng-model="line.text"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon min-width-125 ">Padding</span>
                <select class="form-control"
                        ng-init="offerings_line_css[offering_data_index]['_'+$index].pad=line.css.split(' ')[0]"
                        ng-model="offerings_line_css[offering_data_index]['_'+$index].pad"
                        ng-change="offerings_line_css_change(offering_data_index, $index)">
                    <option ng-repeat="option in options.padding_left_options"  value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon min-width-125 ">Font Size</span>
                <select class="form-control"
                        ng-init="offerings_line_css[offering_data_index]['_'+$index].font=line.css.split(' ')[1]"
                        ng-model="offerings_line_css[offering_data_index]['_'+$index].font"
                        ng-change="offerings_line_css_change(offering_data_index, $index)">
                    <option ng-repeat="option in options.rl_font_size_options"
                            value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon min-width-125">Style</span>
                <input type="text" class="form-control " name="period"
                       ng-model="line.style"/>
            </div>
        </div>
        <br>
    </div>
</div>
