

<h4><span class="label label-default">Template name and cI</span></h4>
<div class="input-group">
    <span class="input-group-addon " id="cId">cId</span>
    <input type="text" class="form-control " name="cId" ng-model="eventSelected.cId"/>
</div>

<div class="input-group">
    <span class="input-group-addon" id="name">name</span>
    <input type="text" class="form-control" name="name"
           ng-model="eventSelected.name"
           ng-change="eventSelected.nameLowercase = eventSelected.name.toLowerCase()"/>
</div>

<div class="input-group">
    <span class="input-group-addon" id="model_type">model_type</span>
    <select class="form-control" ng-model="eventSelected.model_type">
        <option>Seminar</option>
        <option>Workshop</option>
    </select>
</div>
<h4><span class="label label-default">template_meta</span></h4>

<div class="input-group">
    <span class="input-group-addon" id="copiedFrom">copiedFrom</span>
    <input type="text" class="form-control" name="copiedFrom"
           ng-model="eventSelected.template_meta.copiedFrom"
           />
</div>
<div class="input-group">
    <span class="input-group-addon" id="type">type</span>
    <input type="text" class="form-control" name="type"
           ng-model="eventSelected.template_meta.type"
    />
</div>
<div class="input-group">
    <span class="input-group-addon" id="panel_hover_css">panel_hover_css</span>
    <select class="form-control" name="panel_hover_css" ng-model="eventSelected.template_meta.panel_hover_css">
        <option value="rl_hover_light_blue">Light Blue</option>
        <option value="rl_hover_lime">Lime</option>
        <option value="rl_hover_straw">Straw</option>
        <option value="rl_hover_grey">Grey</option>
    </select>

</div>
<!--todo ?-->
<h4><span class="label label-default">submission_container_css</span></h4>
<div class="input-group">
    <span class="input-group-addon min-width-120" id="submission_container_css_radius">corner radius</span>
    <select class="form-control" name="panel_hover_css"
            ng-init="submission_container_css[0]=eventSelected.template_meta.submission_container_css.split(' ')[0]"
            ng-model="submission_container_css[0]"
            ng-change="submission_container_change(submission_container_css)"
    >
        <option value="rl_rcorners15">15</option>
        <option value="rl_rcorners20">20</option>
        <option value="rl_rcorners25">25</option>
        <option value="rl_rcorners30">30</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-120" id="submission_container_css_brd_colour">Border colour</span>
    <select class="form-control" name="panel_hover_css"
            ng-init="submission_container_css[1]=eventSelected.template_meta.submission_container_css.split(' ')[1]"
            ng-model="submission_container_css[1]"
            ng-change="submission_container_change(submission_container_css)"
    >
        <option value="rl_brd_clr_red">Red</option>
        <option value="rl_brd_clr_black">Black</option>
        <option value="rl_brd_clr_blue">Blue</option>
        <option value="rl_brd_clr_green">Green</option>
        <option value="rl_brd_clr_white">White</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-120" id="submission_container_css_brd_type">Border type</span>
    <select class="form-control" name="submission_container_css_brd_type"
            ng-init="submission_container_css[2]=eventSelected.template_meta.submission_container_css.split(' ')[2]"
            ng-model="submission_container_css[2]"
            ng-change="submission_container_change(submission_container_css)"
    >
        <option value="rl_brd_dashed">Dashed</option>
        <option value="rl_brd_double">Double</option>
        <option value="rl_brd_dotted">Dotted</option>
        <option value="rl_brd_groove">Groove</option>
        <option value="rl_brd_hidden">Hidden</option>
        <option value="rl_brd_inset">Inset</option>
        <option value="rl_brd_mix">Mix</option>
        <option value="rl_brd_none">None</option>
        <option value="rl_brd_outset">Outset</option>
        <option value="rl_brd_ridge">Ridge</option>
        <option value="rl_brd_solid">Solid</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-120" id="submission_container_css_shadow">Border shadow</span>
    <select class="form-control" name="panel_hover_css"
            ng-init="submission_container_css[3]=eventSelected.template_meta.submission_container_css.split(' ')[3]"
            ng-model="submission_container_css[3]"
            ng-change="submission_container_change(submission_container_css)"
    >
        <option value="rl_box_shadow1">Yes</option>
        <option value="">No</option>
    </select>
</div>





<!--todo ?-->
<div class="input-group">
    <span class="input-group-addon" id="attendee_edit_hover_css">attendee_edit_hover_css</span>
    <select class="form-control" name="panel_hover_css" ng-model="eventSelected.template_meta.attendee_edit_hover_css">
        <option value="rl_hover_light_blue">Light Blue</option>
        <option value="rl_hover_lime">Lime</option>
        <option value="rl_hover_straw">Straw</option>
        <option value="rl_hover_grey">Grey</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon" id="description">description</span>
    <input type="text" class="form-control" name="description"
           ng-model="eventSelected.template_meta.description"
    />
</div>