<div class="input-group">
    <span class="input-group-addon min-width-125">Text</span>
    <input type="text" class="form-control " name="period"
           ng-model="line.text"/>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-125 ">Padding</span>
    <select class="form-control"
            ng-init="offerings_line_css[offering_data_index]['_'+$index].pad=line.css.split(' ')[0]"
            ng-model="offerings_line_css[offering_data_index]['_'+$index].pad"
            ng-change="offerings_line_css_change(offering_data_index, $index)">
        <option ng-repeat="option in options.padding_left_options" value="{{option.id}}">
            {{option.name}}
        </option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-125 ">Font Size</span>
    <select class="form-control"
            ng-init="offerings_line_css[offering_data_index]['_'+$index].font=line.css.split(' ')[1]"
            ng-model="offerings_line_css[offering_data_index]['_'+$index].font"
            ng-change="offerings_line_css_change(offering_data_index, $index)">
        <option ng-repeat="option in options.rl_font_size_options"
                value="{{option.id}}">{{option.name}}
        </option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon min-width-125">Style</span>
    <input type="text" class="form-control " name="period"
           ng-model="line.style"/>
</div>
<div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger pull-right" type="button"
                                ng-click="deleteOfferingLine(offering_data_index, $index)">Delete Line
                        </button>
                    </span>
</div>