.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.margin-zero {
    margin-left: 0px;
    margin-right: 0px;
}

.input-group-addon {
    min-width:100px;/
    text-align:left;
}

.min-width-120{min-width: 120px}

.vcentre{
    position:relative;
    top:250%;
    transform: translateY(-250%);
    -webkit-transform: translateY(250%);
    -ms-transform: translateY(-250%);

}