.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.margin-zero {
    margin-left: 0px;
    margin-right: 0px;
}
.padding-zero {
    padding-left: 0px;
    padding-right: 0px;
}

.input-group-addon {
    min-width:100px;/
    text-align:left;
}

.min-width-125{min-width: 120px}
.min-width-150{min-width: 150px}
.min-width-175{min-width: 175px}
.min-width-200{min-width: 200px}

.vcentre{
    position:relative;
    top:250%;
    transform: translateY(-250%);
    -webkit-transform: translateY(250%);
    -ms-transform: translateY(-250%);
}

.center-vertically{ 
    position:relative;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(-50%);
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}