<div class="organisationdetails_template1">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{eventSelected.organisation.meta.ui_text_to_display}} Details</h3>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <!-- left column -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{eventSelected.organisation.meta.sectorNo_text}}</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" required name="orgid"
                               ng-model="eventSelected.organisation.data.orgId"
                               ng-minlength="2" ng-maxlength="32"
                               placeholder="unique {{eventSelected.organisation.meta.ui_text_to_display}} identifer">
                    </div>
                    <div class="col-sm-3">
                        <input type="button"
                               value="{{eventSelected.organisation.meta.ui_text_to_display}} Search"
                               class="btn-sm btn-primary no-print">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{eventSelected.organisation.meta.ui_text_to_display}}Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                               required name="orgname"
                               ng-model="eventSelected.organisation.data.name"
                               ng-minlength="1" ng-maxlength="32"
                               placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control"
                               required name="emailOrg1"
                               ng-model="eventSelected.organisation.data.email"
                               ng-minlength="6" ng-maxlength="48"
                               placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} email address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email Confirmation</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control"
                               required name="emailOrg2"
                               ng-model="eventSelected.organisation.data.email2"
                               ng-minlength="6" ng-maxlength="48"
                               placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} email confirmation">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- right column -->
                <div class="form-group">
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('visible_address1') !== -1">
                        <label class="col-sm-4 control-label">Address Line 1</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   required name="orgaddress1"
                                   ng-minlength="0" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} address here">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('address2') !== -1">
                        <label class="col-sm-4 control-label">Address Line 2</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="orgaddress2"
                                   ng-minlength="0" ng-maxlength="48">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('address3') !== -1">
                        <label class="col-sm-4 control-label">Address Line 3</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="orgaddress3"
                                   ng-minlength="0" ng-maxlength="48">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('address4') !== -1">
                        <label class="col-sm-4 control-label">Address Line 4</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="orgaddress4"
                                   ng-minlength="0" ng-maxlength="48">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('postcode') !== -1">
                        <label class="col-sm-4 control-label">Post Code</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="orgpostcode"
                                   ng-minlength="0" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} post code here">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('county_region') !== -1">
                        <label class="col-sm-4 control-label">County Region</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="county_region"
                                   ng-minlength="0" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} County Region here">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('sectorNo') !== -1">
                        <label class="col-sm-4 control-label">Sector No.</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="sectorNo"
                                   ng-minlength="0" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} Sector No. here">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('contact_name') !== -1">
                        <label class="col-sm-4 control-label">Contact Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="contact_name"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} Contact Name here">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('telephone') !== -1">
                        <label class="col-sm-4 control-label">Telephone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="telephone"
                                   ng-minlength="6" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} telephone no. address">
                        </div>
                    </div>
                    <div ng-if="eventSelected.organisation.meta.visible_also.indexOf('fax') !== -1">
                        <label class="col-sm-4 control-label">Fax</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="fax"
                                   ng-minlength="6" ng-maxlength="48"
                                   placeholder="{{eventSelected.organisation.meta.ui_text_to_display}} fax no.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <input type="button" value="Clear {{eventSelected.organisation.meta.ui_text_to_display}} Details"
                       class="btn-xs btn-primary no-print">
            </div>
        </div>
    </form>
</div>