#builder {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 40%;
    overflow: auto;
}
#preview {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 40% /* 200 + 6*/;
    right: 0;
    overflow: auto;
}


#sidebar-resizer {
    background-color: #666;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 40%;
    width: 6px;
    cursor: e-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}