#builder {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: auto;
}
#preview {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 206px /* 200 + 6*/;
    right: 0;
    overflow: hidden;

}


#sidebar-resizer {
    background-color: #666;
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 200px;
    width: 6px;
    cursor: e-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}